<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>KInventory</title>
  <link rel="icon" href="../ChromeExtension/fridge-icon.png" type="image/png">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" type="text/css" href="style.css"/>
  <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  <script src="../Database/databaseFunctions.js"></script>
  <script src="script.js"></script>
  <script src='gup.js'></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body class="body" ng-app="KInventory">

    <div class = "header">
      <img src="../ChromeExtension/fridge-icon.png" class="header-logo">
      <div class = "header-title">
        <h2 class = "title">KInventory - Shopping List</h2>
      </div>
      <div class = "navigation-bar">
        <a href="inventory.html" class = "menu-bar-item">Inventory</a>
        <a href="shoppingList.html" class = "menu-bar-item">Shopping List</a>
      </div>
    </div>
    <div class = "main-content" ng-controller="shoppingList">
      <div class = "table-header" style = "font-size: 20px">
        <span>Sort by:</span>
        <select ng-model="sort" ng-change="sortChange(sort)">
          <option>Name</option>
          <option>Store Location</option>
        </select>
        <div data-toggle="modal" data-target="#addItemModal" style="display: inline">
          <button style = "float: right" class="moving-button">Add Item</button>
        </div>
      </div>


        <div id="addItemModal" class="modal fade" role = "dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type = "button" class="close" data-dismiss="modal">&times;</button>
              <h1>Add Item</h1>
            </div>
            
            <div class="modal-body">
              <button class="btn btn-default" data-toggle="modal" data-target="#addCustomItemModal" data-dismiss="modal">Add Custom Item</button><br><br>
              <button class="btn btn-default" data-toggle="modal" data-target="#searchItemModal" data-dismiss="modal" style="overflow: auto;">Search for Item</button>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

       <!-- ADD CUSTOM ITEM MODAL-->

      <div id="addCustomItemModal" class="modal fade" role = "dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type = "button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title">Add Custom Item</h1>
            </div>
            
            <div class="modal-body">
              <ng-form>
                <span>Name: </span><input type="text" ng-model="newItem.customName"><br><br>
                <span>Expiration Date(MM/DD/YYYY): </span><input type="text" ng-model="newItem.expDate"><br><br>
                <span>Food Group: </span><input type="text" ng-model="newItem.foodGroup"><br><br>
                <span>Kitchen Location: </span><input type="text" ng-model="newItem.kitchLoc"><br><br>
                <span>Store Location: </span><input type="text" ng-model="newItem.storeLoc"><br><br><br>
                <span>(Optional Nutrional Info)</span><br>
                <span>Calories: </span><input type="text" ng-model="newItem.cal"><br><br>
                <span>Protein: </span><input type="text" ng-model="newItem.prot"><br><br>
                <span>Fat: </span><input type="text" ng-model="newItem.fat"><br><br>
                <span>Carbs: </span><input type="text" ng-model="newItem.carb"><br><br>
                <span>Fiber: </span><input type="text" ng-model="newItem.fib"><br><br>
                <span>Sugar: </span><input type="text" ng-model="newItem.sug"><br><br>
                <span>Sodium: </span><input type="text" ng-model="newItem.sod"><br><br>
                <span>Serving: </span><input type="text" ng-model="newItem.serv"><br><br>
              </ng-form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button ng-click="addCustomItem(newItem)" class="btn btn-primary" data-dismiss="modal">Add Item</button>
            </div>
          </div>
        </div>
      </div>

      <!--- SEARCH FOR ITEM MODAL-->

      <div id="searchItemModal" class="modal fade" role = "dialog" style="overflow: auto;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type = "button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title">Search For Item</h1>
            </div>
            
            <div class="modal-body">
              <ng-form>
                <h4>Customize Item</h4>
                <span>Name: </span><input type="text" ng-model="newItem.customName"><br><br>
                <span>Expiration Date(MM/DD/YYYY): </span><input type="text" ng-model="newItem.expDate"><br><br>
                <span>Food Group: </span><input type="text" ng-model="newItem.foodGroup"><br><br>
                <span>Kitchen Location: </span><input type="text" ng-model="newItem.kitchLoc"><br><br>
                <span>Store Location: </span><input type="text" ng-model="newItem.storeLoc">
              </ng-form>
              <br><br>
              <h4>Type Food Name and Enter</h4>
              <input type="text" ng-model="foodName" ng-keyup="searchFood($event, foodName)">
              <br>
              <h5>Click the food to add</h5>
            </div>
            <div class="modal-footer">
              <div class="results">
                <div class="col-lg-4 col-md-4 col-sm-4" style="overflow: auto
                ;" ng-repeat="result in searchResults">
                  <div class="search-result" data-dismiss="modal" ng-click="addSearchItem(result, newItem)">
                  <h6>{{result.name}}</h6>
                  </div>
                </div>
              </div>
              <div>
                <br>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- END ADD ITEM-->
      <!-- TABLE-->

      <table class="table" style="font-size:2em;">
        <tr class="tr">
          <th class="th">Name</th>
          <th class="th">Store Location</th>
          <th class="th" style="width: 5%"></th>
        </tr>
        <tr class="tr" ng-repeat="item in sLArray">
          <td class="td" >{{item.name}}
            <div style="display: inline">
              <a href="" title="Detailed Info"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </div>
            <div style="display: inline" data-toggle="modal" data-target="#editModal{{item.id}}">
              <a href="" title="Edit Item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>

             <!-- EDIT ITEM MODAL-->

            <div id="editModal{{item.id}}" class="modal fade" role = "dialog">
              <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                    <button type = "button" class="close" data-dismiss="modal">&times;</button>
                   <h1>Edit Item</h1>
                  </div>
                  <div class="modal-body">
                    <ng-form class="modal-text">
                      <span>Name: </span><input type="text" ng-model="item.name"><br><br>
                      <span>Store Location: </span><input type="text" ng-model="item.storeLocation"><br><br>
                    </ng-form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button ng-click="updateItem(item)" class="btn btn-primary" data-dismiss="modal">Update Item</button>
                  </div>

                </div>
              </div>
            </div>

             <!-- END EDIT ITEM-->  
          </td>

          <td class="td">{{item.storeLocation}}</td>
          <td class="td">

            <div style="display: inline;">
              <input type="image" title="Delete item" src="../ChromeExtension/redX.png" style="height:40px;" ng-click="delete(item)"></input>
            </div>
          </td>
        </tr>
      </table>
      <div id="chromeSearchModal" class="modal fade" role="dialog" style="overflow: auto;">
        <div class="modal-dialog">
         <div class="modal-content">
          <div class="modal-header">
            <button type = "button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">Add <span class="newItemName"></span></h1>
          </div>
          <div class="modal-body">
            <ng-form class="modal-text">
              <span>Name: </span><input type="text" ng-model="newItem.customName"><br><br>
              <span>Expiration Date(MM/DD/YYYY): </span><input type="text" ng-model="newItem.expDate"><br><br>
              <span>Food Group: </span><input type="text" ng-model="newItem.foodGroup"><br><br>
              <span>Kitchen Location: </span><input type="text" ng-model="newItem.kitchLoc"><br><br>
              <span>Store Location: </span><input type="text" ng-model="newItem.storeLoc"><br><br>
            </ng-form>
            <button class="btn btn-default">Search For <span class="newItemName"></span>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button ng-click="addCustomItem(newItem)" class="btn btn-primary" data-dismiss="modal">Add Item</button>
          </div>

        </div>
      </div>
      </div>
    </div>
  </body>
</html>
